DB_USERNAME = your_db_username
DB_PASSWORD = your_db_password
DB_HOST = your_db_host
DB_PORT = your_db_port
DB_DBNAME = your_db_name
DB_SSL_CA_PATH = SSL certificate


# secrect key for JWT(Json Web-based Tokens)
JWT_key = your_jwt_secret_key

# otp key:
otp_key = your_otp_secret_key